<header>
  <section id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-4 col-md-4 ">
          <img class="img-circle img-responsive" width="200px" src="https://api.adorable.io/avatars/285/alan@codemuch.tech.png">
        </div>
        <div class="col-md-12 text-center">
          <h1 class="header-heading">Hello, I'm Alan!</h1>
          <ul class="header-icons col-lg-12 text-center">
            <li><a href="https://github.com/ex0dus-0x"><i class="fa fa-github fa-2x"></i></a></li>
            <li><a href="mailto:ex0dus@codemuch.tech"><i class="fa fa-paper-plane-o fa-2x"></i></a></li>
            <li><a href="https://keybase.io/ex0dus/key.asc"><i class="fa fa-key fa-2x"></i></a></li>
          </ul>
          
          <p class="mini-description">
            nyc hs student, hopeful computer engineer / pentester / entrepreneur <br />
            <b>#</b>linux <b>#</b>systems-engineering <b>#</b>security 
          </p>
          
          <hr class="light" />
        </div>
      </div>
    </div>
  </section>
</header>