<section id="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="{{site.baseurl}}/">home</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/about">whoami</a>    
          </li>
          <li>
            <a href="{{site.baseurl}}/projects">projects</a>    
          </li>
          <li>  
            <a href="{{site.baseurl}}/blog">blog</a>    
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
