<!DOCTYPE html>
<html class="blog" lang = "en" >

{% include head.html %}

<body id="blog">
  {% include page-nav.html %}
  
  <section id="blog-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr />
          <h1 class="text-center">codemuch blog <a href="/feed.xml"><i class="fa fa-rss"></i></a></h1>
          <hr />
          {{ content }}
        </div>    
      </div>
    </div>
  </section>  
  
</body>

{% include footer.html %}


</html>